extends layout

block content

  h1 Department: #{department.name}

  div(style='margin-left:20px;margin-top:20px')

    h4 Items

    dl
      each item in department_items
        dt
          a(href=item.url) #{item.name}
        dd #{item.description}

      else
        p This department has no items
