extends layout

block content
  h1= title
  p Welcome to #[em Supermarket Inventory], a very basic Express website developed as part of The Odin Project course.

  h1 Dynamic content

  p The inventory has the following record counts:

  ul
    li #[strong Items:] !{item_count}
    li #[strong Departments:] !{department_count}
